main{
    height: 100vh;
}
#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #6f0101;
    background-color: #6f0101;
    color: #fff;
    /*height: 400px;*/
}

#menu a {
    background-color: #6f0101;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #6f0101;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #6f0101;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* Converter Page Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form div {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 250px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #8e2424;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6f0101;
}

.result-text {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    form {
        margin-top: 30px;
    }

    input[type="text"],
    select {
        width: 100%;
    }
}
